body{
  background-color:#015b7d;
  color: #fafb8c;
}
.logo {
  height: 200px;
  width: 250px;
  margin-right:5%;
  margin-Left: 2%
  }
h1, p, img, h2, h3, th, td, tr, table {
  width: 400px;
  margin-left: 38%;
  text-align:center;

}
#intro_para {
  margin-right:0%;
  margin-bottom: 50px;
}
#button_one{
  margin-left:35%;
}
.button_layout{
  padding:10px;
  border-radius:10px;
  margin-left: 2%;
  margin-top: 20%;
  margin-bottom:30px;
  color: #7D110E;
  background-color: #C6C90C;
}
#offical_site{
  margin-top:30px;
  margin-left:43%;
}
.band_member_img {
  height: 400px;
  width: 250px;
  margin-left:4%;
}
#made_by {
  margin-top: 200px;
}
table {
  margin-top:50px;
}
.album_img,{
  
  height: 250px;
  width: 250px;
}
.album_align {
  text-align:left;
} 
#wiki {
  margin-left:46%;
}
.list {
  margin-bottom:125px;
}
.video_top {
  margin-top: 125px;
  width:33%;
}
.video {
  margin-top: 20px;
  width:33%
}